{% load my_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anasayfa</title>
</head>

<body>
   
    <h2>Categories</h2>
    <section>
        {% for cat in categories %}
            <p>{{ cat.name|trupper }}<span style="color:gray; font-size: 11px">  </span> </p>
        {% endfor%}
    </section>

    <h2>Category Items</h2>
    <section>
        {% for it in items %}
            <p>{{ it.title }}<span style="color:gray; font-size: 11px">   {{ it.category.name }} | by {{ it.user.username }} </span> </p>
        {% endfor%}
    </section>

</body>

</html>