{% load my_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anasayfa</title>
</head>

<body>
    <div>
        
        
        <strong>Menu:</strong>
        <h4>Email: {{ user.email }}</h4>
        <h4>Profile: <a href="{% url 'items:profile' username=user.username %}"> {{ user.username }} </a></h4>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>

    </div>

    <h2>Items</h2>
    <section>
        {% for it in items %}
            <p>{{ it.title }} <span style="margin-left: 15px; color:gray"> {{ it.category.name }} -- by {{ it.user.username }}</span> </p>
        {% endfor%}
    </section>

    <h2>Categories</h2>
    <section>
        <ul>
            {% for cat in cats %}
                {% if cat.parent == None %}
                <li>
                    <a style="margin: 5px; color:rgb(30, 85, 148); display: block" href="{% url 'items:parent_category_list' slug=cat.slug %}">{{ cat.name|trupper }}</a>
                </li>
                {% endif %}
            {% endfor%}
        </ul>
    </section>
</body>

</html>