<h1>Profile</h1>
<a href="{% url 'items:home' %}"> Anasayfa </a>
<h3> {{ user.email }}</h3>
<h3> {{ user.username }}</h3>


{% for it in items %}
<p style="color:tomato">{{ it.title }}</p>
{% endfor%}